@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato',sans-serif;
}

h1, h2, h3 {
    font-family: 'oswald',sans serif ;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}


/* Header */
header {
    background-color: rgba(241, 109, 107, .7);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow:0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown */
nav {
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main */
main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

/*sign up page*/
#signup {
    background-image: url(../images/image6.jpeg);
    font-family: 'oswald', sans-serif;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color:#3a3a3a;
    background-color: rgba(241, 109, 107, .7);
    padding: 30px;
}

#signup-form >h2 {
color: #3a3a3a
margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #3a3a3a 
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;   
    padding: 0 5px;
}

#radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/* hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url(../images/image0\ \(8\).jpeg) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color:#3a3a3a;
}

/* About Us */
#about-us {
    background-color: #3a3a3a;
}

#about-us h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 280%;
    color: #fafafa;
}

#about-us h3 {
    text-align: center;
    font-family: oswald, sans-serif;
    color: #fafafa;
}

/*rule sets*/

#general {
    width: 100%;
    margin: 0px ;
    background-color: rgba(241, 109, 107, .7);
}

#general h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#general h3 {
    text-align: center;
    
}

#muay-thai > div,
#k1 > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#rule-sets ul {
    padding: 0 20px;
    font-family: oswald, sans-serif;
    text-align: center;
    list-style-type: none;
    font-size: 120%;
}

hr {
    border-top: 2px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background:url(../images/image0\ \(7\).jpeg) no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px ;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Comp dates */
#comp-section {
    background-color: rgba(241, 109, 107, .7);
}

#comp-dates-title{
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#times {
    background: url(../images/image0\ \(5\).jpeg) no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
    
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* this will not wrap on screens of less than 400px wide
    each div will expand */
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#times h2 {
    color: #fafafa;
}

#times h3 {
    color: #fafafa ;
}

/* gallery */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
    background-color: rgba(241, 109, 107, .7);
}

/* Footer */
#social-networks {
    text-align: center;
    background-color: rgba(241, 109, 107, .7);
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/*Media query : large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*main content*/
    main {
        /*push main down*/
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }


#muay-thai {
    
    display: flex;
    direction: inherit;
    width: 100%;
    
}

#k1 {
    display: flex;
    direction: inherit;
    width: 100%;
}


#muay-thai > div,
#k1 > div {
    width: 100%;
    text-align: center;

}

#k1 > div {
    text-align:start;
    align-self: flex-end;
}

/* Gallery */
#photos {
    column-count: 3;
}

/* Form */
#signup {
    background-position: center;
    position: relative;
    
}

#signup-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 100px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.signup-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}
}



/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Large devices ( 1200px and wider) */
@media screen and (min-width: 1200px) {
    /* reasons section */
    #rule-sets{
        display: flex;
        flex-direction: row;
    }

    #rule-sets > div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #muay-thai {
         order: 1;
    }

    #muay-thai > div {
        align-self: flex-start;
    }

    #k1 > div {
       align-self: flex-start;
    }

    #times {
        flex-grow: 1;
    }
}